@import "./site.css";
#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-page img {
  display: block;
}

#home-page div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.landing-image {
  width: 70%;
  border: solid 2px var(--primary-border-color);
  border-radius: 2rem;
}

.landing-logo {
  position: absolute;
  top: 0.5rem;
  width: 75px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

#home-page section p {
  width: 100%;
  text-align: justify;
}

@media (min-width: 768px) {
  .landing-logo {
    width: 150px;
  }
}
