.message-info {
    display: flex;
    justify-content: center;

    border-radius: 5rem;
    padding: 0.6rem 0.4rem;

    font-style: italic;
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
    font-family: cursive;
    background: none;
    flex-direction: column;
    border: solid 2px var(--border-color);
}

.message-info span {
    font-weight: 700;
    font-style: normal;
    color: white;
}