#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.product-item {
    width: 15.625rem;
    border: solid 1px var(--secondary-color);
    padding: 0.8rem;
    border-radius: 1rem;
    transition: transform 0.2s ease-in-out;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px 2px var(--shadow-color);
}

.product-item h4 {
    text-align: center;
    margin-bottom: 0.3rem;
    font-family: "Diplomata", serif;
}

.product-item img {
    width: 100%;
}

.product-item p {
    float: right;
    margin-right: 0.5rem;
}