@import "/assets/css/site.css";

article {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
aside {
  border-left: solid 1px var(--primary-border-color);
}

aside ul {
  list-style: none;
  padding-left: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.buttons button {
  max-width: 300px;
}
