<h1>Welcome to RunStore</h1>

<article id="home-page">
    <div>
        <img class="landing-image" src="~/images/jogging-forest.png" alt="jogging-forest">
        <img class="landing-logo" src="~/images/runstore.png" alt="runstore logo">

    </div>
    <section>
        <h3>We help you!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias harum accusamus dolorum, quos ab
            reprehenderit saepe ipsa eos, laboriosam deleniti dolor non id voluptas, natus quibusdam voluptate quasi
            facilis consequatur blanditiis! Voluptatem consectetur, molestias, iste pariatur debitis dolores cum
            commodi, soluta ad quisquam aut minus odit obcaecati possimus delectus cumque repudiandae! Quas veniam id
            praesentium atque totam eos esse, fuga pariatur nostrum nemo eveniet earum eum aperiam fugiat dolor nihil
            illo consequuntur impedit maiores voluptate iusto in eaque? Et voluptate sapiente voluptatem sequi ut
            repellendus autem fugit quaerat quisquam necessitatibus deserunt, excepturi, maxime sint est beatae dolorem!
            Aperiam iste dicta voluptate omnis natus. Nisi, quidem! Pariatur officia ducimus sed inventore sunt earum
            laudantium incidunt at! Debitis voluptatum nulla unde labore recusandae esse corporis obcaecati ea delectus.
            Aut fugiat nesciunt, optio illo qui autem eligendi, neque amet necessitatibus saepe, eos excepturi. Quidem
            qui consequatur itaque nemo maiores. Voluptatibus ut ipsum esse illo temporibus sequi voluptate alias
            laboriosam, debitis fuga magnam natus tempore consectetur officia consequatur voluptatem? Natus accusamus
            harum officiis aut suscipit. Earum atque magni unde aspernatur natus, consequuntur amet, soluta beatae alias
            suscipit deserunt nisi necessitatibus vitae. Cumque laudantium pariatur beatae dolorum neque commodi unde
            consequatur quisquam dolor doloribus, mollitia deleniti sunt magnam vitae rerum. Maiores temporibus
            architecto, reiciendis quis veritatis illo omnis repellendus hic tempora enim facere eaque voluptate iure,
            autem possimus amet illum! Fugit atque exercitationem autem, consequatur soluta expedita veniam inventore
            laboriosam placeat iure impedit repellat a nihil nostrum, mollitia magnam, error repellendus? Asperiores
            distinctio corrupti eligendi, at voluptatem dolorum incidunt nobis reiciendis mollitia. Qui debitis,
            aspernatur alias necessitatibus asperiores dolorum, consequatur omnis, minima ipsa ea sapiente hic nemo
            doloremque quia vero ut numquam laborum voluptates nam obcaecati commodi animi. Ex animi dignissimos sint
            aperiam corporis. Qui iste illo ullam exercitationem placeat corrupti sunt aliquid, odit necessitatibus
            reprehenderit aut voluptatibus voluptate vitae assumenda! Libero natus animi nesciunt, repudiandae optio
            provident vitae repellendus velit, unde atque dolorem reprehenderit exercitationem consectetur quidem
            quaerat corporis aspernatur! Alias similique at inventore ea, qui, iusto quia temporibus ut, est amet
            incidunt perferendis deserunt quasi dignissimos quisquam repellendus tempora ipsa! Praesentium, qui error
            tempore vitae id tempora nisi quidem obcaecati corporis facere totam ipsum magnam repellendus autem porro
            vel maxime distinctio non aliquam sint fugiat inventore cupiditate. Voluptatum quas amet, ipsa alias et
            ullam neque? Ex impedit soluta tenetur! Quasi in ipsam odio excepturi sunt ipsa? Quas deleniti, aliquam
            vitae debitis perferendis hic voluptatibus quasi reiciendis officia, ipsum obcaecati ea laborum doloribus
            blanditiis alias quo nobis, doloremque placeat quia. Quas aliquid tenetur nihil sint tempora velit.
            Temporibus, omnis dolor optio at consequatur suscipit libero! Aperiam repudiandae dicta maxime deleniti!
            Error autem sed facilis rem repellendus, libero eaque sit a. Ratione aliquam sit eum quis alias totam,
            architecto explicabo vitae labore blanditiis, quos ab nihil sint ipsa eligendi ducimus omnis. Ipsa magni
            fuga iure iusto quisquam suscipit quod impedit saepe totam! Eveniet nobis saepe corrupti harum natus rem
            nulla, officiis eligendi alias placeat pariatur ducimus obcaecati vel, ipsum in nisi officia voluptates.
            Eligendi tenetur perspiciatis sit aliquid minima temporibus harum dicta fugiat recusandae inventore quis
            quod sed voluptatum fugit, tempore amet? Nobis dolore accusamus obcaecati quisquam, hic in labore cupiditate
            porro iusto laborum atque possimus corporis dolor nesciunt ipsam tenetur asperiores animi, perferendis quos
            ea a. Sequi unde harum autem temporibus sapiente, deleniti eos id officia itaque hic placeat nam fugit.
            Iusto quis corrupti accusantium magnam vel aut quam optio? Nesciunt ea consequatur odit corporis quas
            tempore repudiandae animi, assumenda architecto magni officiis quasi maiores nostrum. Aliquid, nam labore.
            Maxime quibusdam eaque neque quasi, ut nihil dignissimos fugit delectus numquam? Id molestias ipsam, quae
            maxime consequuntur voluptates! Hic, inventore? Facere autem aperiam ad tempore ea, temporibus praesentium
            architecto modi odit nulla dolorum nisi eaque explicabo animi, esse aspernatur aut asperiores ratione?
            Possimus animi sequi vel omnis libero assumenda dolore dolor dicta nisi ipsum reprehenderit suscipit
            voluptatum, a quisquam voluptate vero excepturi tenetur nesciunt? Eius illum quidem unde ipsam quod id
            voluptas reiciendis, quae vero non sit rem libero alias animi harum voluptatum quisquam, eaque placeat velit
            dignissimos ab? Delectus, rem voluptate? Consequatur, adipisci eveniet hic porro animi, quaerat, optio
            corporis rem dolore eligendi vero et veniam temporibus labore nostrum eaque repellat! Hic aliquid
            dignissimos accusamus, ipsam ad totam reprehenderit recusandae ut animi quibusdam inventore ab ipsa incidunt
            quaerat eum id ullam repudiandae illum deserunt consequatur, deleniti, odio maxime dolor. Pariatur, illo ad
            aspernatur ipsam saepe asperiores eum libero eaque, deserunt quaerat nisi iste doloribus ea. Sunt veritatis
            velit fuga. Voluptates, ea? Cum, quibusdam fugit. Fugiat at quis voluptate porro ipsa eligendi nobis
            consectetur excepturi numquam, earum sed beatae necessitatibus vero, harum repellat aperiam corrupti aut sit
            omnis culpa sunt. Beatae iusto in at? Sunt veniam repellat facere fuga fugiat necessitatibus ipsa odio vitae
            cupiditate doloribus fugit laboriosam perferendis, rem numquam suscipit sint quo. Omnis illum rerum sapiente
            dolore vero. Sint architecto ullam soluta eaque doloribus perferendis, quisquam quasi iste deserunt
            consectetur dignissimos, cupiditate corrupti similique alias? Officiis, blanditiis! Libero repellendus
            architecto incidunt ut pariatur natus, sed voluptatem odit atque mollitia magnam vel eaque provident hic
            error saepe. Porro cupiditate dolor odio blanditiis quis nostrum delectus! Molestiae consectetur nostrum
            possimus id sequi in esse a maxime laboriosam obcaecati saepe iure inventore eveniet tempora deserunt quis,
            ratione facere nisi cupiditate at earum. Facere totam voluptates tempore dicta ullam eligendi expedita odio,
            quidem obcaecati. Suscipit officiis, fuga expedita quibusdam voluptatibus at totam doloremque aliquam
            excepturi ratione omnis beatae corrupti maxime ipsam quo iste, asperiores quis debitis impedit molestiae
            ducimus ipsum. Iste adipisci aliquam quo voluptate aut, quis dolorem, earum veniam facilis eveniet quasi
            inventore sint perferendis. Placeat omnis inventore nobis nisi molestiae autem laboriosam. Sunt id saepe
            voluptates. Consequuntur, maiores veniam facere expedita omnis officiis? Beatae explicabo quia consequuntur
            est! Adipisci doloribus et velit doloremque repellat culpa esse vel, harum minus nesciunt natus iure vero
            quisquam enim sequi quos tempore quia illo possimus repellendus ut voluptatibus beatae laborum consequatur.
            Ducimus est asperiores aliquam dolorem temporibus facilis, ut laborum, nobis labore fugiat blanditiis
            officiis aperiam aspernatur molestias neque!</p>
        </section>
    </article>