<h1 id="landing-page-header" >Welcome to RunStore</h1>
<img src="~/images/landscape.jpg" alt="landscape" class="landing-page-image">
<article>
    <section class="Landing-page-section">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ratione optio quia alias dolor, tempore deleniti, hic fugit, debitis ea quos harum voluptate nam reiciendis incidunt voluptatibus veritatis quibusdam facere culpa consequuntur veniam minus dolorum? Quas, harum et. Quos tempora porro totam cumque tenetur nisi voluptas, dolorum explicabo ducimus corrupti, autem commodi exercitationem mollitia maxime accusamus voluptate provident non, soluta facilis laboriosam. Nisi, vero? Nisi adipisci ullam, fuga commodi hic doloremque et quaerat ut harum ducimus mollitia officiis maiores debitis corrupti maxime, dolor rem repellendus veritatis nulla. Hic dolorum, suscipit quisquam doloribus facilis deserunt rerum animi. Harum facilis sit rerum.</section>
</article>