header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  opacity: 0.7;
  border-bottom: solid 2px var(--primary-border-color);
  padding: 1.25rem 0;
  width: 100%;
  z-index: 1;
}

nav {
  padding: 0 1rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  list-style: none;
}

nav ul li.logo a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

nav ul li.logo img {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

nav ul li.logo span {
  font-size: 1.4rem;
  font-weight: 700;
}

nav ul li.toggle {
  display: block;
  order: 1;
}

nav ul li.menu-item {
  width: 100%;
  text-align: center;
  order: 2;
  display: none;
}
#cart {
  position: relative;
}
#cart span {
  position: absolute;
  top: -9px;
  left: 9px;
  background: rgba(0, 188, 125, 0.4);
  padding: 0.1;
  font-size: 0.8rem;
  width: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

/* Visa dropdown menyn */
nav ul:has(li .menu-btn:checked) .menu-item {
  display: block;
}

/* Skapa hamburger menyn */
nav ul li .menu-btn {
  display: none;
}

nav ul li .menu-icon {
  padding: 1.75rem 1.25rem;
  cursor: pointer;
}

nav ul li .menu-icon .nav-icon {
  background-color: var(--text-color);
  display: block;
  height: 2px;
  width: 1.75rem;
  position: relative;
  transition: background-color 0.2s ease-out;
}

nav ul li .menu-icon .nav-icon:before,
nav ul li .menu-icon .nav-icon:after {
  content: "";
  background-color: var(--text-color);
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  transition: all 0.2s ease-out;
}

nav ul li .menu-icon .nav-icon:before {
  top: -5px;
}

nav ul li .menu-icon .nav-icon:after {
  top: 5px;
}

/* Animera vår hamburger meny */
nav ul li .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

/* Rotera första linjen */
nav ul li .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

/* Rotera andra linjen */
nav ul li .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/* Media frågor vid icke mobila enheter */
@media (min-width: 768px) {
  header {
    padding: 1.25rem 0;
  }

  nav ul {
    flex-wrap: nowrap;
  }

  nav ul li.menu-item {
    display: block;
    width: auto;
  }

  nav ul li.logo {
    flex-grow: 1;
  }

  nav ul li.toggle {
    display: none;
  }
}
