<h1>Contact Us</h1>
<form action="post">
    <div class="form-controls">
        <label for="firstName">Förnamn</label>
        <input type="text" name="firstName" id="firstName">
    </div>
    <div class="form-controls">
        <label for="lastName">Efternamn</label>
        <input type="text" name="lastName" id="lastName">
    </div>
    <div class="form-controls">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </div>
    <button type="submit" class="btn">Skicka</button>
</form>