<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css"> 
    <title>RunStore</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li ><a asp-controller="home" asp-action="index">Start</a></li>
                <li ><a asp-controller="products" asp-action="index">Products</a></li>
                <li ><a asp-controller="about" asp-action="index">About us</a></li>
                <li ><a asp-controller="contact" asp-action="index">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>