@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: violet;">
    <h1 class="display-4"
        style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color:blue; color: gold;">
        Welcome</h1>
        <p style="background-color: aqua; color:red; font-family:'Timesnewroman'">Learn about building Web apps with ASP.NET
            Core</a>.</p>
            <h2
                style="color: brown; background-color:black; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                Hello <br /> World!</h2>
            </div>
